body {
    background-image: url(../images/food_wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    
    
}

/*-----Style for base.html template--*/


main {
    flex: 1 0 auto;
  }

/*-----Navbar-----*/

.sidenav li a {
    color: #fff;
}

.sidenav {
 opacity: 90%;
}

.nav-wrapper a em {
   color: #e65100;
}

.signup-message {
    line-height: 5;
}

/*-----Card panels with recipes-----*/

.card-reveal h6, p {
    color: #fff;
}

.card .card-reveal {
    background-color: #4e342e;
}

.card-panel {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    opacity: 90%;
}

.card brown, .recipes-description {
    opacity: 90%;

}

.recipe-image {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    align-items: center;
}


.btn-large span {
    color: #fff;
}

.center-align a {
    color: #e65100;
}

.card .card-image .card-title {
    color: rgb(230, 9, 9);
}

/*----Edit Recipe------*/

.add_recipe a {
    color: #fff;
}

.recipe-inputs span {
    color:#e65100;
}

/*------Categories---------*/
.view-categories {
    color: #e65100;
}

.category-button a {
    color: #fff;
}

/*-----Recipes template-----*/
.button-add-recipe a {
    color: #fff;
}

.reset a {
    color: #fff;
}

input, textarea {
    color: #fff;
}

/*----Button cancel/adding recipe----*/
.cancel-add a {
    color:#fff;
}

/*----Button cancel category----*/
.cancel-category a {
    color: #fff;
}

/*-----My Page template------*/

.mypage h4 {
    color:#e65100 ;
}
/*-----Footer-----*/

.page-footer {
    padding: 5px;
    flex-grow: 0;
    background-color: #3e2723 ;   
}
