body {
    background-image: url(../images/food_wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    
    
}

/*--Home--*/
.vew-recipes a span {
    color: #fff;
}

.vew-recipes a {
    margin-top: 70px;
}

main {
    flex: 1 0 auto;
  }

.sidenav li a {
    color: #fff;
}

.sidenav {
 opacity: 90%;
}

.nav-wrapper a em {
   color: #e65100;
}


.signup-message {
    line-height: 5;
}

.card-panel {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    opacity: 90%;
}

.card brown, .recipes-description {
    opacity: 90%;

}

.recipe-image

{
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    align-items: center;
}




.center-align a {
    color: #e65100;
}

.page-footer {
    padding: 5px;
    flex-grow: 0;
    background-color: #3e2723 ;
   
}

/*-----My Page------*/

.mypage h4 {
    color:#e65100 ;
}

/*----Edit Recipe------*/

.add_recipe a {
    color: #fff;
}

.recipe-inputs span {
    color:#e65100;
}

/*------Categories---------*/
.view-categories {
    color: #e65100;
}

.category-button a {
    color: #fff;
}

.button-add-recipe a {
    color: #fff;
}

.reset a {
    color: #fff;
}

input, textarea {
    color: #fff;
}

/*----button cancel adding recipe----*/
.cancel-add a {
    color:#fff;
}

.cancel-category a {
    color: #fff;
}