{% extends "base.html" %}
{% block content %}


<div class="recipe-text">
    <h2 class="center-align">Modify Categories</h2>
</div>
<div class="row">
    <div class="col s12 center-align category-button">
        <a href="{{ url_for('add_category') }}" class="btn-large orange darken-4">
            Create New Category
        </a>
    </div>
</div>
<!--Categories-->
<div class="row center">
    {% for recipes_category in recipes_categories %}
    <div class="col s12 m4">
        <div class="card-panel brown darken-4 ">
            <h6><span class="view-categories">Category:</span> {{ recipes_category.category_name }} </h6>
            <div class="row center">
                <div class="column s12">
                    <a href="{{ url_for('delete_category', recipes_category_id=recipes_category._id) }}"
                        class="btn-small  waves-light orange darken-4">
                        Delete</a>
                    <a href="{{ url_for('edit_category', recipes_category_id=recipes_category._id) }}"
                        class="btn-small  waves-light orange darke n-4">
                        Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}