{% extends "base.html" %}
{% block content %}




    <h2 class="center-align">Edit your Recipe!</h2>

    <div class="row card-panel brown darken-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">

        <!--Recipe category selection-->

           <div class="row">
				<div class="input-field col s8">
					<select id="category_name" name="category_name" class="validate" required>
					    <option value="" disabled selected>Select Recipe Category</option>
                        {% for recipes_category in recipes_categories %}
					            <option value="{{ recipes_category.category_name }}" selected>{{ recipes_category.category_name }}</option>
					    {% endfor %}
					</select>
					<label for="category_name">Recipe Category</label>
				</div>
			</div>
            


            <!-- Recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="task_name" name="task_name" minlength="5" maxlength="50"
                        value ="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="task_name">Recipe Name</label>
                </div>
            </div>

            <!-- Recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{recipe.recipe_description}}</textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

            <!-- Cooking Time-->

             <div class="row">
                <div class="input-field col s12">
                    <textarea id="cooking_time" name="cooking_time" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{recipe.cooking_time}}</textarea>
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>


            <!-- Ingredients-->

             <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{ingredients}}</textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

            <!--Link to the wensite-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="link_website" name="link_website" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>{{link_website}}</textarea>
                    <label for="link_website">Link</label>
                </div>
            </div>
            
           
             <!-- Button for adding recipe -->
            <div class="row add_recipe">
                <div class="col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-light orange darken-4">
                        Edit Recipe!
                    </button>

                    <a href="{{ url_for('get_recipes') }}" class="btn waves-light orange darken-4">
                        Cancel
                     <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}


