{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12"></div>
    <div class="recipe-text">
        <h2 class="center-align">Welcome to the CookNoteBook</h2>
    </div>

    <div class="recipe-text">
        <h3 class="center-align">A Place to store and manage your recipes</h3>
    </div>


    <div class="row ">
        <div class="col s12 center-align vew-recipes">
            <a href="{{ url_for('get_recipes') }}" class="btn-large  waves-light orange darken-4">
                <span>View all recipes</span></a>
        </div>
    </div>
</div>
</div>

<div class="row card-panel brown darken-4">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes by keywords</label>
                </div>
                <div class="col s12 m4 reset">
                    <a href="{{ url_for('get_recipes') }}" class="btn orange darken-4 ">Reset</a>
                    <button type="submit" class=" btn waves-effect waves-light orange">
                        <i class="fas fa-search left"></i> Search recipes
                    </button>
                </div>
            </div>
        </form>
    </div>

    


{% endblock %}