{% extends "base.html" %}
{% block content %}

 <div class="row mypage">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel brown darken-4">
                <h3 class="center-align">
                   Welcome {{ username }}!
                </h3>
                <h4 class="center-align">
                    In this CookBook you can store, create, update or delete your recipes
                </h4>
            </div>
        </div>
    </div>

    <div class="row add_recipe">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_recipe') }}" class="btn waves-light orange darken-4">
                Start creating your Recipe!
            </a>
            <a href="{{ url_for('get_recipes') }}" class="btn waves-light orange darken-4">
               View all Recipes!
            </a>
        </div>
    </div>

     

{% endblock %}