{% extends "base.html" %}
{% block content %}


<div class="recipe-text">
    <h2 class="center-align">Your Recipes</h2>
</div>

<div class="recipe-text">
    <h3 class="center-align">Here you can see and manage your recipes</h3>
</div>
 
<!--Recipe Description-->

        <div class="row">
            {% for recipe in recipes%}
            <div class="col s12 m4 14">
                
                <div class="card-panel brown darken-4 recipe-inputs">
                    <h6><span>Category:</span> {{ recipe.category_name }}</h6>
                    <h6><span>Name:</span> {{ recipe.recipe_name }}</h6>
                    <h6><span>Recipe description:</span> {{ recipe.recipe_description }}</h6>
                    <h6><span>Ingredients:</span></h6>
                        <ul>
                            {% for list in recipe.ingredients.splitlines() %}
                            <li>
                                <p>{{list}}</p>
                            </li>
                            {% endfor %}
                        </ul>   

                    <h6><span>Cooking time:</span> {{ recipe.cooking_time }}</h6>
                    <h6><span>Link:</span> {{ link_website }}</h6>
                    <h6><span>Created by:</span> {{ recipe.created_by }}</h6>
                </div>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small  waves-light orange darken-4">
                        Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small  waves-light orange darke n-4">
                        Edit</a>
            </div>
            {% endfor %}
        </div>
        
    

    


{% endblock %}