{% extends "base.html" %}
{% block content %}

<div class="recipe-text">
    <h2 class="center-align">Here you find all posted recipes</h2>
</div>


<!--Search option-->
<div class="row card-panel brown darken-4">
        <form action="{{ url_for('get_recipes') }}" method="GET" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes by keywords</label>
                </div>
                <div class="col s12 m4 reset">
                    <a href="{{ url_for('get_recipes') }}" class="btn orange darken-4 ">Reset</a>
                    <button type="submit" class=" btn waves-effect waves-light orange">
                        <i class="fas fa-search left"></i> Search recipes
                    </button>
                </div>
            </div>
        </form>
    </div>



<!--Recipe Description-->

<div class="row">
    {% for recipe in recipes%}

    <div class="col s12 m4 14">
        <div class="card brown darken-4 recipes-description recipe-inputs sticky-action">
            <div class=card-image>
                <img class="recipe-image" src="{{ recipe.link_website }}" alt="{{recipe.recipe_name}}">
                <a class="btn red btn-floating halfway-fab activator">+</a>
            </div>

            <div class="card-content">
                <h6><span>Title:</span> {{ recipe.recipe_name }} </h6>
                <h6><span>Category:</span> {{ recipe.category_name }}</h6>
                <h6><span>Created by:</span> {{ recipe.created_by }}</h6>
            </div>

            <div class="card-reveal">
                <span class="card-title"> {{ recipe.recipe_name }}<i class="right">x</i></span>
                <h6><span>Category:</span> {{ recipe.category_name }}</h6>
                <h6><span>Name:</span> {{ recipe.recipe_name }}</h6>
                <h6><span>Recipe description:</span> {{ recipe.recipe_description }}</h6>
                <h6><span>Ingredients:</span></h6>
                <ul>
                    {% for list in recipe.ingredients.splitlines() %}
                    <li>
                        <p>{{list}}</p>
                    </li>
                    {% endfor %}
                </ul>
                <h6><span>Cooking time:</span> {{ recipe.cooking_time }}</h6>
                <h6><span>Created by:</span> {{ recipe.created_by }}</h6>
            </div>

    <!--Buttons Edit and Delete-->

            {% if recipe.created_by == session.user  %}

            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                class="btn-small  waves-light orange darken-4">
                Delete</a>
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                class="btn-small  waves-light orange darke n-4">
                Edit</a>

            {% elif session.user == "admin" %}
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                class="btn-small  waves-light orange darken-4">
                Delete</a>
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                class="btn-small  waves-light orange darke n-4">
                Edit</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}