{% extends "base.html" %}
{% block content %}


<div class="recipe-text">
    <h2 class="center-align">Your Recipes</h2>
</div>

  <div class="row card-panel brown darken-4">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                    <button type="submit" class="brown darken-4">
                        <i class="fas fa-search left"></i> Search recipes
                    </button>
                </div>
            </div>
        </form>
    </div>

<!--Recipe Description-->
{% for recipe in recipes%}
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel brown darken-4 recipe-inputs">
                    <h6><span>Category:</span> {{ recipe.category_name }}</h6>
                    <h6><span>Name:</span> {{ recipe.recipe_name }}</h6>
                    <h6><span>Recipe description:</span> {{ recipe.recipe_description }}</h6>
                    <h6><span>Ingredients:</span> {{ recipe.ingredients }}</h6>
                    <h6><span>Cooking time:</span> {{ recipe.cooking_time }}</h6>
                    <h6><span>Link:</span> {{ link_website }}</h6>
                    <h6><span>Created by:</span> {{ recipe.created_by }}</h6>
                </div>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small  waves-light orange darken-4">
                        Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small  waves-light orange darke n-4">
                        Edit</a>
            </div>
        </div>
    </div>

    
{% endfor %}

{% endblock %}