{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Join your <em>CookBook!</em></h2>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('signin') }}">
            <div class="card-panel brown darken-4">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						
						<input id="username" name="username" type="text" minlength="4"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Sign in button-->
                <div class="row center">
                     <button class="btn sign-in waves-effect waves-light orange darken-4 white-text"  type="submit" name="action">
                         Sign In!
                     </button>
                     <p class="center-align">
                         First time here?
                <!--Sign Up option-->
                         <a class="sign-up" href="{{ url_for('signup') }}"><span>Sign Up!</span></a>
                     </p>
                </div>
            </div>
        </form>
    </div>



{% endblock %}