{% extends "base.html" %}
{% block content %}

    <h2 class="center-align">Join your <em>CookBook!</em></h2>

    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel brown darken-4">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						
						<input id="username" name="username" type="text" minlength="4"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
						
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- sign up button-->
                <div class="row center">
                     <button class="btn waves-effect waves-light orange darken-4"  type="submit" name="action">
                         <i class="material-icons right">Sign Up!</i>
                     </button>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}